header nav .mainBlock{
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    background: #eee; 
    margin: auto;
    padding: 15px 25px;
    align-items: stretch;
    background: url(img/background.jpg) no-repeat;
    background-size: 1600px;
    height: 1000px;
    
}
body{
  
    background: url(img/gym.jpg) no-repeat;
    background-size: 100% 100%;

}
.container {
    width: 1600px;
    margin: 0 auto;
    
  }
.mainBlock img {
    width: 1600px;
}
header nav .logo {
    display: flex;
    background: url(img/Logo.png) no-repeat;
    background-size: 150px;
    width: 200px;
    height: 180px;
    margin: 20px;
    float: left;
    color: black;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    
   

  }
header nav .mainBlock .topNav{

    color: #8b582e;
    display: flex;
    align-items: stretch;
    margin-top: 30px;
    
    text-decoration: none;
    font-family: 'Consolas';
    font-size: 30px;
    height: 50px;
    width: 920px;

}
header nav .mainBlock .topNav .login, header nav .mainBlock .topNav .sign{
    opacity: 0.8;
    display: flex;
    background: url(img/logIn.png) no-repeat;
    background-size: 60px;
    width: 70px;
    height: 180px;
    margin-left: 100px;
    float: left;
    border: none;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
     
}
header nav .mainBlock .topNav .sign{
    background: url(img/sign_up.png) no-repeat;
    background-size: 100px;
    height: 50px;
    width: 100px;
    margin-left: 0px;
}
header nav .info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(230, 233, 235);
    font-size: 100px;
    text-align: center;
}

header nav .mainBlock .topNav .linkDiv{
    background-color: #2189a8;
    padding: 10px 13px;
    padding-top: 10px;
    background: url('img/link.png') no-repeat;
    width: 30px;
    padding-top: 30px;
    margin-top: 10px;
    background-size: 30px;
}
header nav .mainBlock .topNav a{
   
    display: inline-flex;
    width: 100px;
    margin: 2px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    height: 15px;
    padding: 15px 35px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
}
header nav .mainBlock h1 {
    display: flex;
    align-items:flex-end;
 
    font-size:60px;
    color:rgba(19, 178, 226, 0.986);
    position:relative;
    left:0;
    text-shadow:
    1px 1px 0px #2189a8,
    2px 2px 0px #b4d1d9,
    3px 3px 0px #a6c6cf,
    4px 4px 0px #94b8c3,
    5px 5px 0px #87aeb9,
    6px 6px 0px #7aa3af,
    7px 7px 0px #6d97a3,
    8px 8px 0px #618b98,
    9px 9px 0px #56818e,
    10px 10px 0px #4c7683,
    15px 15px 25px rgba(16, 169, 189, 0.9);
    transition: .5s ease-in-out;
   }
    
   header nav .mainBlock h1:hover {
    left:20px;
    
    text-shadow:
    -1px 1px 0px #20c0c0,
    -2px 2px 0px #b4d1d9,
    -3px 3px 0px #a6c6cf,
    -4px 4px 0px #94b8c3,
    -5px 5px 0px #87aeb9,
    -6px 6px 0px #7aa3af,
    -7px 7px 0px #6d97a3,
    -8px 8px 0px #618b98,
    -9px 9px 0px #56818e,
    -10px 10px 0px #1698c0,
    -15px 15px 25px rgba(0,0,0,.9);
   }

header nav .mainBlock .motivation{
 
    width: 400px;
    margin-top: 270px;
    margin-left: 30px;
}
header nav .mainBlock .motivation .line hr{
    border: 5px;
    height: 10px;
    background-image: -webkit-linear-gradient(left, rgba(26, 94, 197, 0.815), rgba(32, 42, 184, 0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(31, 82, 177, 0.521), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(21, 144, 160, 0.712), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
header nav .mainBlock .information{
    width:400px;
    display: flex;
    align-items:flex-end;
    margin-left: 30px;
    font-size:20px;
    color:rgba(19, 178, 226, 0.986);
    position:relative;
    left:0;
}
header nav .mainBlock .flexPosition .partners{
    opacity:0.9;
    border-radius: 30px;
    background: url(img/backgroundPart.jpg);
    font-size: 20px;
    display: flex;
    align-items: stretch;
    height: 120px;
    width: 670px;
    background-size: 100px;
    margin-left: 30px;
    margin-top: 40px;
   
}
header nav .mainBlock .flexPosition .socialMedia{
    border-radius: 10px;
    background: url(img/backgroundPart.jpg);
    opacity: 0.8;
    margin-left: auto;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 30px;
    
}
header nav .mainBlock .flexPosition .socialMedia img{
    margin-top: 10px;
    margin-left: 5px;
}
header nav .mainBlock .text{
    word-spacing: 8px;
    letter-spacing: 2px;
    font-family: 'Consolas';
    margin-left: auto;
    font-size: 17px;
    font-weight: 900;
    margin-left: 1140px;
    color: #609dc0;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    
}
header nav .mainBlock .flexPosition{
    display: flex;
    align-items: stretch;
}
header nav .mainBlock .partners img{
    margin-top: 10px;
    
    padding: 0px 30px;
}
header nav .mainBlock .partners .socialMedia img{
    margin-top: 10px;
    border: none;
    padding: 0px 30px;
}

